<div class='container-fluid text-center'>
    <h1>About Us</h1>
    <p>Launched in July 2007 by Nish Kukadia, Sach Kukadia, Michael Cody and Silvia Cody, in London’s 
    Notting Hill, Secretsales.com retails brands like Gucci, Dolce & Gabbana and Christian Dior at up to 
    70% off. Germany’s Brands4friends, who have since contributed a second, made an initial investment in 
    early 2010, round of funding in the ‘multi-million pound’ region.</p>
</div>