@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

.navbar, .home {
  background: #44A08D; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #44A08D , #093637); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #44A08D , #093637); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar {
  border: none;
  border-radius: 0;
}

.navbar-brand {
  font-family: 'Opan Sans', 'sans-serif';
  font-weight: 800;
}

.navbar a {
  color: white !important;
  &:hover {
    color: white !important;
    opacity: 0.75;
  }
}

.home {
  color: white;
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 100px;
}

// style icon-bar

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-toggle {
  border: 2px solid white;
  &:hover, &:focus {
    background-color: #44A08D;
  }
}

.container-flash {
  position: absolute;
  text-align: center;
  width: 100%;
  color: orange;
  font-size: 24px;
  margin-top: -25px;
}

.alert-notice {
  //display: none;
}
.log-in {
  margin-top: 50px;
}

.member {
  margin-top: 45px;
}

//user styling
.avatar-show {
  width: 150px;
  height: auto;
  margin-top: 25px;
}

.well.profile {
  color: white;
  h3 {
    margin-top: 0;
  }
}

.well.desc {
  background-color: green;
}
.well.info {
  background-color: brown;
}
